ul {
	list-style-type:none;
	margin:0;
	padding: 0; 
	overflow: hidden;
	background-color: #ffffff;
}


li {
	float:right ;
}


li a {
	display: block;
	color: black;
	width: 60px;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;

}

/* For hoovering effects: */

li a:hover {
	background-color: #333333;
}

img {
  display: block;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}


/* Meh fucking shit fuck
form {
  width: 320px;
  padding: 0;
  margin: 0;
}
*/

